<mat-nav-list>
  <a mat-list-item routerLink="/cv" routerLinkActive="active-link">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle>CV</div>
  </a>

  <a mat-list-item 
     routerLink="/internships" 
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: false }">
    <mat-icon matListItemIcon>business</mat-icon>
    <div matListItemTitle>Internships</div>
  </a>

  <a mat-list-item 
     routerLink="/worklogs" 
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: false }">
    <mat-icon matListItemIcon>event_note</mat-icon>
    <div matListItemTitle>Work Log</div>
  </a>
</mat-nav-list>