<div class="details-container">
  @if (internship) {
    <mat-card class="details-card">
      <mat-card-header>
        <mat-card-title>{{ internship.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ internship.companyName }} • {{ internship.location }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="desc">{{ internship.description }}</p>

        <div class="tech-list">
          <strong>Technologies:</strong>
          @for (tech of internship.technologies; track tech) {
            <span class="tech-tag">{{ tech }}</span>
          }
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-button
          (click)="apply()"
          [disabled]="hasApplied(internship.id)"
        >
          {{ hasApplied(internship.id) ? "Applied" : "Apply" }}
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
