<div class="wide-container">
  <div class="top-bar">
    <button mat-button routerLink="/worklogs">
      <mat-icon>arrow_back</mat-icon> Back
    </button>
  </div>
  @if (internship) {
    <div class="page-header">
      <h2>Work Logs: {{ internship.title }}</h2>
      <p class="meta">
        Company: <b>{{ internship.companyName }}</b>
      </p>
    </div>
  }
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="logs">
      <ng-container matColumnDef="week">
        <th mat-header-cell *matHeaderCellDef>Week Period</th>
        <td mat-cell *matCellDef="let log">
          {{ log.startDate | date: "dd.MM.yyyy" }} -
          {{ log.endDate | date: "dd.MM.yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Activities</th>
        <td mat-cell *matCellDef="let log" class="desc-cell">
          {{ log.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let log">
          <button mat-icon-button color="primary" (click)="prepareEdit(log)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteLog(log.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="['week', 'description', 'actions']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['week', 'description', 'actions']"
      ></tr>
    </table>
    <mat-paginator
      [length]="totalElements"
      [pageSize]="size"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="paginator"
    >
    </mat-paginator>
  </div>
  <div class="form-section">
    <div>
      <h2 class="title-second">
        {{ editingLogId ? "Edit entry" : "Add New Weekly Entry" }}
      </h2>
    </div>
    <div class="filters-container form-grid">
      <mat-form-field appearance="outline" class="filter-item">
        <mat-label>From</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          [(ngModel)]="newLog.startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter-item">
        <mat-label>To</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          [(ngModel)]="newLog.endDate"
          [min]="newLog.startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Activities</mat-label>
        <textarea
          matInput
          [(ngModel)]="newLog.description"
          rows="3"
          placeholder="Describe your work..."
        ></textarea>
      </mat-form-field>
      <div class="form-actions">
        @if (editingLogId) {
          <button mat-button (click)="resetForm()">Cancel</button>
        }
        <button mat-raised-button color="primary" (click)="saveLog()">
          <mat-icon>{{ editingLogId ? "edit" : "add" }}</mat-icon>
          {{ editingLogId ? "Update Log" : "Save Weekly Log" }}
        </button>
      </div>
    </div>
  </div>
</div>
